[Unit]
Description=BTC/USDT Tracker Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/workspace/btctracker/btc_tracker
ExecStart=/usr/bin/python3 /workspace/btctracker/btc_tracker/btc_tracker.py
Restart=always
RestartSec=5
Environment="PATH=/usr/bin:/bin"
EnvironmentFile=/workspace/btctracker/btc_tracker/.env

[Install]
WantedBy=multi-user.target
